h1, p, span, h2, h3, h4, div, button {
    font-family: Roboto;
}

.iamiphone {
    margin: auto;
    max-width: 800px;
    height: 100%;
}

button {
    background-color: black;
    border-color: transparent;
    border-radius: 4px;
    color: white;
    font-size: 2rem;
    height:input 2.5em;
    display: inline-flex;
    justify-content: center;    
    width: 40%;
    height: 75px;
    text-transform: uppercase;
    font-weight: 800;
}


button.yeet {
    background-color: #ff6347;
}

button.yeet:hover {
    background-color: #da553d;
}

button.yeet:focus {
    background-color: #bd4a35;
}

button.sweet {
    background-color: #9acd32;
}

button.sweet:hover {
    background-color: #83af2a;
}
button.sweet:focus {
    background-color: #739b24;
}

h3 {
    font-size: 0.9em;
}

hr {
    border: 1px solid #f8f4f3;
}
p {
    padding-left: 15px;
}


.ydl{
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ydl h2{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-left: 15px;
}
.ydl img{
    width: 20%;
    height: auto;
}

.capitalize{
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}

img {
    width: 100%;
    height: auto;
}

.category {
    background-color: #f8f4f3;
    padding: 25px 0px 10px 15px;
    text-transform: uppercase;
    color: #969197;
}

.category h3{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.vote {
    display: flex;
    justify-content: space-evenly;
}

/* The device with borders */
.smartphone {
    position: relative;
    width: 300px;
    height: 540px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    overflow-y: scroll;
  }
  
  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }
  
  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: fixed;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #474747;
    border-radius: 50%;
  }
  
  /* The screen (or content) of the device */
  .smartphone .conten {
    width: auto;
    height: 100%; 
    background: white;
  }